
ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  
  .nested {
    display: none;
  }
  
  
  .active {
    display: block;
  }
  
  #appr{
    background-color: #80c244;
    padding: 4px 32px;
    color: white;
    font-weight: 600;
    border: none;
  }
  #rej{
    background-color: red;
    padding: 4px 32px;
    color: white;
    font-weight: 600;
    border: none;
  }
  
  
  .topbar {
      position: relative;
      z-index: 50;
      box-shadow: 1px 0px 7px rgb(0 0 0 / 5%);
      background: #fff;
      height: 0px !important;
  }
  
  @media only screen and (max-width: 500px) {
    .topbar {
      position: relative;
      z-index: 50;
      box-shadow: 1px 0px 7px rgb(0 0 0 / 5%);
      background: black;
      height: 20px !important;
      
  }
  }
  
  @media only screen and (max-width: 900px) {
    #sidebar-navs{
      width: max-content !important;
    }
  }
  
  
  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  .dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
  }
  
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropup-content a:hover {background-color: #ccc}
  
  .dropup:hover .dropup-content {
    display: block;
  }
  
  .dropup:hover .dropbtn {
    background-color: #2980B9;
  }
  

  
  @media only screen and (max-width: 900px) {
   
   #appr{
     background-color: #80c244;
     padding: 4px 10px;
     color: white;
     font-weight: 600;
     border: none;
   
   }
   #rej{
     background-color: red;
     padding: 4px 20px;
     color: white;
     font-weight: 600;
     border: none;
     
   }
  
   #side{
     padding: 0 !important;
     margin: 0 !important;
   }
   #scroll-sidebar{
    padding: 0 !important;
     margin: 0 !important;
   }
   #myUL{
    padding: 0 !important;
     margin: 0 !important;
   }
  
   #logoid{
     margin-left: -30px;
     height: 85px;
     width: 110px;
   }

    
 #card-slider-mobile{
    margin-top: 30%;
  }

   #mobile-slider-view{
      bottom:-50% !important;
  } 

  #lineipad{
      width: 120px !important;
  }
   }
   
  

 
   .topbar .dropdown-menu .with-arrow > span {
       transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       -webkit-transform: rotate(45deg);
       -o-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
   }
   
   /*!
    * Bootstrap v5.0.0-beta1 (https://getbootstrap.com/)
    * Copyright 2011-2020 The Bootstrap Authors
    * Copyright 2011-2020 Twitter, Inc.
    * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
    */
  
    #main-wrapper[data-layout="horizontal"],
    #main-wrapper[data-layout="vertical"] {
    }
    #main-wrapper[data-layout="horizontal"] .topbar .top-navbar .navbar-header[data-logobg="skin5"],
    #main-wrapper[data-layout="vertical"] .topbar .top-navbar .navbar-header[data-logobg="skin5"] {
        background: #414755;
    }
    #main-wrapper[data-layout="horizontal"] .topbar .navbar-collapse[data-navbarbg="skin5"],
    #main-wrapper[data-layout="horizontal"] .topbar[data-navbarbg="skin5"],
    #main-wrapper[data-layout="vertical"] .topbar .navbar-collapse[data-navbarbg="skin5"],
    #main-wrapper[data-layout="vertical"] .topbar[data-navbarbg="skin5"] {
        background: #414755;
    }
    #main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"],
    #main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] {
        background: #fff;
    }
    #main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul,
    #main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul {
        background: #fff;
    }
    #main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item .sidebar-link,
    #main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item .sidebar-link {
        color: #212529;
    }
    #main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item .sidebar-link i,
    #main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item .sidebar-link i {
        color: #4f5467;
    }
    #main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .nav-small-cap,
    #main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .nav-small-cap {
        color: #212529;
        opacity: 0.7;
    }
    #main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav .has-arrow:after,
    #main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav .has-arrow:after {
        border-color: #212529;
    }
    #main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav .user-content,
    #main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav .user-email,
    #main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav .user-name,
    #main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav .user-content,
    #main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav .user-email,
    #main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav .user-name {
        color: #212529;
    }
    #main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .create-btn,
    #main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .create-btn {
        background: #4fc3f7;
    }
    #main-wrapper {
        width: 100%;
        overflow: hidden;
    }
    .page-wrapper {
        background: #eef5f9;
        position: relative;
    }
    .page-wrapper > .container-fluid,
    .page-wrapper > .container-lg,
    .page-wrapper > .container-md,
    .page-wrapper > .container-sm,
    .page-wrapper > .container-xl,
    .page-wrapper > .container-xxl {
        padding: 20px;
        min-height: calc(100vh - 180px);
    }
    .footer {
        padding: 15px 20px;
    }
    #main-wrapper[data-layout="vertical"] {
    }
    #main-wrapper[data-layout="vertical"][data-sidebartype="full"] .page-wrapper {
        margin-left: 250px;
    }

    /* #main-wrapper[data-layout="horizontal"],
#main-wrapper[data-layout="vertical"] {
}
#main-wrapper[data-layout="horizontal"] .topbar .top-navbar .navbar-header[data-logobg="skin5"],
#main-wrapper[data-layout="vertical"] .topbar .top-navbar .navbar-header[data-logobg="skin5"] {
    background: #414755;
}
#main-wrapper[data-layout="horizontal"] .topbar .navbar-collapse[data-navbarbg="skin5"],
#main-wrapper[data-layout="horizontal"] .topbar[data-navbarbg="skin5"],
#main-wrapper[data-layout="vertical"] .topbar .navbar-collapse[data-navbarbg="skin5"],
#main-wrapper[data-layout="vertical"] .topbar[data-navbarbg="skin5"] {
    background: #414755;
} */
    @media (min-width: 768px) {
        #main-wrapper[data-layout="vertical"] {
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="full"] .topbar .top-navbar .navbar-header {
            width: 250px;
        }
        #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="full"] .topbar .top-navbar .navbar-collapse {
            margin-left: 250px;
        }
        #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="mini-sidebar"] .topbar .top-navbar .navbar-collapse {
            margin-left: 65px;
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .topbar .top-navbar .navbar-header {
            width: 65px;
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .topbar .top-navbar .navbar-header .logo-text {
            display: none;
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .topbar .top-navbar .navbar-header.expand-logo {
            width: 250px;
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .topbar .top-navbar .navbar-header.expand-logo .logo-text {
            display: block;
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .left-sidebar .upgrade-btn {
            display: none;
        }
        #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"][data-sidebartype="mini-sidebar"] .topbar .top-navbar .navbar-collapse {
            margin-left: 65px;
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .page-wrapper {
            margin-left: 65px;
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .sidebar-nav .has-arrow:after,
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .sidebar-nav .hide-menu {
            display: none;
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .sidebar-nav .nav-small-cap {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .left-sidebar {
            width: 65px;
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .left-sidebar:hover {
            width: 250px;
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .left-sidebar:hover .sidebar-nav .has-arrow:after,
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .left-sidebar:hover .sidebar-nav .hide-menu {
            display: block;
        }
        #main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .left-sidebar:hover .sidebar-nav .nav-small-cap {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
    }
    @media (max-width: 766px) {
        #main-wrapper {
        }
        #main-wrapper[data-sidebartype="mini-sidebar"] .left-sidebar {
            left: -250px;
        }
        #main-wrapper.show-sidebar .left-sidebar {
            left: 0;
        }
        #main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"] .topbar .top-navbar .navbar-collapse {
            position: relative;
            top: 64px;
        }
        #main-wrapper[data-layout="vertical"][data-header-position="fixed"][data-sidebar-position="fixed"] .topbar .top-navbar .navbar-collapse {
            position: relative;
            top: 64px;
        }
    }
    * {
        outline: none;
    }
 
 
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  .topbar {
        position: relative;
        z-index: 50;
        -webkit-box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.05);
        box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.05);
        background: #fff;
        height: 64px;
    }
    .topbar .navbar-collapse {
        padding: 0px 10px 0 0;
    }
    .topbar .top-navbar {
        min-height: 64px;
        padding: 0px;
    }
    .topbar .top-navbar .dropdown-toggle:after {
        display: none;
    }
    .topbar .top-navbar .navbar-header {
        line-height: 64px;
    }
    .topbar .top-navbar .navbar-header .navbar-brand {
        width: 250px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0px;
        padding: 0 10px 0 10px;
    }
    .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
        display: none;
    }
    .topbar .top-navbar .navbar-header .navbar-brand .logo-icon {
        margin-right: 5px;
    }
    .topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
        padding: 0px 15px;
        font-size: 0.875rem;
        line-height: 64px;
        height: 64px;
    }
    .topbar .top-navbar .navbar-nav > .nav-item:hover {
        background: rgba(0, 0, 0, 0.05);
    }
    .topbar .mailbox,
    .topbar .user-dd {
        min-width: 280px;
    }
    .topbar .nav-toggler,
    .topbar .topbartoggler {
        color: #fff;
        padding: 0 15px;
    }
    .app-search {
        z-index: 110;
        width: 100%;
        top: -1px;
        -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
        display: none;
        left: 0px;
    }
    .app-search .form-control {
        padding: 21px 15px;
    }
    .app-search .form-control:focus {
        border-color: transparent;
    }
    .app-search .srh-btn {
        position: absolute;
        top: 23px;
        cursor: pointer;
        right: 20px;
    }
    .topbar .dropdown-menu {
        padding-top: 0px;
        border: 0px;
        -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    }
    .topbar .dropdown-menu .with-arrow {
        position: absolute;
        height: 10px;
        overflow: hidden;
        width: 40px;
        top: -10px;
    }
    .topbar .dropdown-menu .with-arrow > span {
        background-color: #fff;
        width: 15px;
        height: 15px;
        top: 3px;
        left: 15px;
        position: absolute;
        content: "";
        border-radius: 6px 0 0 0;
    }
    .topbar .dropdown-menu.dropdown-menu-right .with-arrow {
        right: 0px;
    }
    .topbar .dropdown-menu.dropdown-menu-right .with-arrow > span {
        right: 20px;
        left: auto;
    }
    @media (max-width: 767px) {
        .topbar .top-navbar .navbar-collapse.collapsing,
        .topbar .top-navbar .navbar-collapse.show {
            display: block;
            width: 100%;
            border-top: 1px solid #e9ecef;
        }
        .topbar .top-navbar .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }
        .topbar .top-navbar .navbar-nav .dropdown {
            position: static;
        }
        .topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
            padding: 0 10px;
        }
        .topbar .top-navbar .navbar-header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
        .topbar .top-navbar .dropdown-menu {
            position: absolute;
            width: 100%;
        }
        .topbar .top-navbar .dropdown-menu .with-arrow {
            display: none;
        }
    }
    .page-breadcrumb {
        padding: 20px 20px 0 20px;
    }
    .page-breadcrumb .page-title {
        margin-bottom: 0px;
    }
    .page-breadcrumb .breadcrumb {
        padding: 0px;
        margin: 0px;
        background: transparent;
        font-size: 12px;
    }
    .page-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
        content: "î™‰";
        font-family: themify;
        color: #ced4da;
        font-size: 11px;
    }
    .left-sidebar {
        position: absolute;
        width: 250px;
        height: 100%;
        top: 0px;
        z-index: 10;
        padding-top: 64px;
        background: #fff;
        -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
        box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    }
    .scroll-sidebar {
        height: calc(100% - 20px);
        position: relative;
    }
    .sidebar-nav ul {
    }
    .sidebar-nav ul .sidebar-item {
        width: 250px;
    }
    .sidebar-nav ul .sidebar-item .sidebar-link {
        color: #fff;
        padding: 14px 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        white-space: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        line-height: 25px;
        opacity: 0.6;
    }
    .sidebar-nav ul .sidebar-item .sidebar-link i {
        font-style: normal;
        width: 35px;
        line-height: 25px;
        font-size: 23px;
        color: #fff;
        display: inline-block;
        text-align: center;
    }
    .sidebar-nav ul .sidebar-item .sidebar-link.active,
    .sidebar-nav ul .sidebar-item .sidebar-link:hover {
        opacity: 1;
    }
    .sidebar-nav ul .sidebar-item.selected > .sidebar-link {
        opacity: 1;
    }
    .sidebar-nav ul .sidebar-item .first-level {
        padding: 0 0 10px 0;
    }
    .sidebar-nav ul .sidebar-item .first-level .sidebar-item.active .sidebar-link {
        opacity: 1;
    }
    .sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link {
        padding: 10px 15px;
    }
    .sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link i {
        font-size: 14px;
    }
    .sidebar-nav ul .nav-small-cap {
        font-size: 12px;
        padding: 14px 15px;
        white-space: nowrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        line-height: 30px;
        margin-top: 10px;
        color: #fff;
        opacity: 0.3;
        text-transform: uppercase;
    }
    .sidebar-nav ul .nav-small-cap i {
        line-height: 30px;
        margin: 0 5px;
    }
    .sidebar-nav > #sidebarnav > .sidebar-item > .sidebar-link:hover {
    }
    .sidebar-nav ul {
        margin: 2px;
        padding: 2px;
    }
    .sidebar-nav ul li {
        list-style: none;
    }
    .collapse.in {
        display: block;
    }
    .sidebar-nav .has-arrow {
        position: relative;
    }
    .sidebar-nav .has-arrow:after {
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: #fff;
        margin-left: 10px;
        -webkit-transform: rotate(135deg) translate(0, -50%);
        -ms-transform: rotate(135deg) translate(0, -50%);
        transform: rotate(135deg) translate(0, -50%);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        top: 26px;
        right: 15px;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .sidebar-nav .has-arrow[aria-expanded="true"]:after,
    .sidebar-nav li.active > .has-arrow:after,
    .sidebar-nav li > .has-arrow.active:after {
        -webkit-transform: rotate(-135deg) translate(0, -50%);
        -ms-transform: rotate(-135deg) translate(0, -50%);
        transform: rotate(-135deg) translate(0, -50%);
    }
    .user-profile {
        padding: 15px;
    }
    .user-profile .user-content,
    .user-profile .user-email,
    .user-profile .user-name {
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }