@using CutOutWiz.Core.Utilities;
@using CutOutWiz.Services.Models.Security;
@using CutOutWiz.Services.MapperHelper
@using CutOutWiz.Services.Security;
@using System.Security.Claims;
@using KowToMateAdmin.Models.Security
@using Microsoft.AspNetCore.Authentication.Cookies;
@using CutOutWiz.Services.Managers.Common;

@inject IWorkContext _workContext
@inject IContactManager _contactManager
@inject IUserService _userService
@inject IHttpContextAccessor _httpContextAccessor
@inject ISecurityLoginHistoryService _securityLoginHistoryService
@inject IRoleManager _roleManager
@inject IUserService _userService
@inject IPermissionService _permissionService
@inject ICompanyManager _companyService
@inject NavigationManager NavigationManager
@inject IMapperHelperService _mapperHelperService

<header id="page-topbar">
	<div class="navbar-header">
		<div class="d-flex">
			<!-- LOGO -->
			<div class="navbar-brand-box" style="background:#122e20">
				<a href="/" class="logo logo-dark">
					<span class="logo-sm">
						<img src="assets/images/logo.svg" alt="" height="65">
					</span>
					<span class="logo-lg">
						<img src="assets/images/logo-dark.png" alt="" height="50">
					</span>
				</a>

				<a href="/" class="logo logo-light" style="margin-right:25px">
					<span class="logo-sm">
						<img src="assets/images/logo-light.svg" alt="" height="65">
					</span>
					<span class="logo-lg">
						<img src="assets/images/logo-light.png" style="padding-top:10px;" alt="" height="65">
					</span>
				</a>
			</div>

			<button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
				<i class="fa fa-fw fa-bars"></i>
			</button>

			<!-- App Search-->
			@*<form class="app-search d-none d-lg-block">
			<div class="position-relative">
			<input type="text" class="form-control" placeholder="Search...">
			<span class="bx bx-search-alt"></span>
			</div>
			</form>*@

			@* <div class="dropdown dropdown-mega d-none d-lg-block ms-2">
			<button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
			<span key="t-megamenu">Mega Menu</span>
			<i class="mdi mdi-chevron-down"></i>
			</button>
			<div class="dropdown-menu dropdown-megamenu">
			<div class="row">
			<div class="col-sm-8">

			<div class="row">
			<div class="col-md-4">
			<h5 class="font-size-14" key="t-ui-components">UI Components</h5>
			<ul class="list-unstyled megamenu-list">
			<li>
			<a href="javascript:void(0);" key="t-lightbox">Lightbox</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-range-slider">Range Slider</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-sweet-alert">Sweet Alert</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-rating">Rating</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-forms">Forms</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-tables">Tables</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-charts">Charts</a>
			</li>
			</ul>
			</div>

			<div class="col-md-4">
			<h5 class="font-size-14" key="t-applications">Applications</h5>
			<ul class="list-unstyled megamenu-list">
			<li>
			<a href="javascript:void(0);" key="t-ecommerce">Ecommerce</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-calendar">Calendar</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-email">Email</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-projects">Projects</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-tasks">Tasks</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-contacts">Contacts</a>
			</li>
			</ul>
			</div>

			<div class="col-md-4">
			<h5 class="font-size-14" key="t-extra-pages">Extra Pages</h5>
			<ul class="list-unstyled megamenu-list">
			<li>
			<a href="javascript:void(0);" key="t-light-sidebar">Light Sidebar</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-compact-sidebar">Compact Sidebar</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-horizontal">Horizontal layout</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-maintenance">Maintenance</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-coming-soon">Coming Soon</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-timeline">Timeline</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-faqs">FAQs</a>
			</li>

			</ul>
			</div>
			</div>
			</div>
			<div class="col-sm-4">
			<div class="row">
			<div class="col-sm-6">
			<h5 class="font-size-14" key="t-ui-components">UI Components</h5>
			<ul class="list-unstyled megamenu-list">
			<li>
			<a href="javascript:void(0);" key="t-lightbox">Lightbox</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-range-slider">Range Slider</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-sweet-alert">Sweet Alert</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-rating">Rating</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-forms">Forms</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-tables">Tables</a>
			</li>
			<li>
			<a href="javascript:void(0);" key="t-charts">Charts</a>
			</li>
			</ul>
			</div>

			<div class="col-sm-5">
			<div>
			<img src="assets/images/megamenu-img.png" alt="" class="img-fluid mx-auto d-block">
			</div>
			</div>
			</div>
			</div>
			</div>

			</div>
			</div>*@
		</div>

		<div class="d-flex">

			<div class="dropdown d-inline-block d-lg-none ms-2">
				<button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
						data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="mdi mdi-magnify"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
					 aria-labelledby="page-header-search-dropdown">

					<form class="p-3">
						<div class="form-group m-0">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
								<div class="input-group-append">
									<button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			@*<div class="dropdown d-inline-block">
			<button type="button" class="btn header-item waves-effect"
			data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<img id="header-lang-img" src="assets/images/flags/us.jpg" alt="Header Language" height="16">
			</button>
			<div class="dropdown-menu dropdown-menu-end">

			<!-- item-->
			<a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="en">
			<img src="assets/images/flags/us.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">English</span>
			</a>
			<!-- item-->
			<a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="sp">
			<img src="assets/images/flags/spain.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Spanish</span>
			</a>

			<!-- item-->
			<a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="gr">
			<img src="assets/images/flags/germany.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">German</span>
			</a>

			<!-- item-->
			<a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="it">
			<img src="assets/images/flags/italy.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Italian</span>
			</a>

			<!-- item-->
			<a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="ru">
			<img src="assets/images/flags/russia.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Russian</span>
			</a>
			</div>
			</div>*@

			@* <div class="dropdown d-none d-lg-inline-block ms-1">
			<button type="button" class="btn header-item noti-icon waves-effect"
			data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="bx bx-customize"></i>
			</button>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
			<div class="px-lg-2">
			<div class="row g-0">
			<div class="col">
			<a class="dropdown-icon-item" href="#">
			<img src="assets/images/brands/github.png" alt="Github">
			<span>GitHub</span>
			</a>
			</div>
			<div class="col">
			<a class="dropdown-icon-item" href="#">
			<img src="assets/images/brands/bitbucket.png" alt="bitbucket">
			<span>Bitbucket</span>
			</a>
			</div>
			<div class="col">
			<a class="dropdown-icon-item" href="#">
			<img src="assets/images/brands/dribbble.png" alt="dribbble">
			<span>Dribbble</span>
			</a>
			</div>
			</div>

			<div class="row g-0">
			<div class="col">
			<a class="dropdown-icon-item" href="#">
			<img src="assets/images/brands/dropbox.png" alt="dropbox">
			<span>Dropbox</span>
			</a>
			</div>
			<div class="col">
			<a class="dropdown-icon-item" href="#">
			<img src="assets/images/brands/mail_chimp.png" alt="mail_chimp">
			<span>Mail Chimp</span>
			</a>
			</div>
			<div class="col">
			<a class="dropdown-icon-item" href="#">
			<img src="assets/images/brands/slack.png" alt="slack">
			<span>Slack</span>
			</a>
			</div>
			</div>
			</div>
			</div>
			</div>*@

			<div class="dropdown d-none d-lg-inline-block ms-1">
				<button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
					<i class="bx bx-fullscreen"></i>
				</button>
			</div>

			@*<div class="dropdown d-inline-block">
			<button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
			data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="bx bx-bell bx-tada"></i>
			<span class="badge bg-danger rounded-pill">3</span>
			</button>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
			aria-labelledby="page-header-notifications-dropdown">
			<div class="p-3">
			<div class="row align-items-center">
			<div class="col">
			<h6 class="m-0" key="t-notifications"> Notifications </h6>
			</div>
			<div class="col-auto">
			<a href="#!" class="small" key="t-view-all"> View All</a>
			</div>
			</div>
			</div>
			<div data-simplebar style="max-height: 230px;">
			<a href="javascript: void(0);" class="text-reset notification-item">
			<div class="d-flex">
			<div class="avatar-xs me-3">
			<span class="avatar-title bg-primary rounded-circle font-size-16">
			<i class="bx bx-cart"></i>
			</span>
			</div>
			<div class="flex-grow-1">
			<h6 class="mb-1" key="t-your-order">Your order is placed</h6>
			<div class="font-size-12 text-muted">
			<p class="mb-1" key="t-grammer">If several languages coalesce the grammar</p>
			<p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-min-ago">3 min ago</span></p>
			</div>
			</div>
			</div>
			</a>
			<a href="javascript: void(0);" class="text-reset notification-item">
			<div class="d-flex">
			<img src="assets/images/users/avatar-3.jpg"
			class="me-3 rounded-circle avatar-xs" alt="user-pic">
			<div class="flex-grow-1">
			<h6 class="mb-1">James Lemire</h6>
			<div class="font-size-12 text-muted">
			<p class="mb-1" key="t-simplified">It will seem like simplified English.</p>
			<p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-hours-ago">1 hours ago</span></p>
			</div>
			</div>
			</div>
			</a>
			<a href="javascript: void(0);" class="text-reset notification-item">
			<div class="d-flex">
			<div class="avatar-xs me-3">
			<span class="avatar-title bg-success rounded-circle font-size-16">
			<i class="bx bx-badge-check"></i>
			</span>
			</div>
			<div class="flex-grow-1">
			<h6 class="mb-1" key="t-shipped">Your item is shipped</h6>
			<div class="font-size-12 text-muted">
			<p class="mb-1" key="t-grammer">If several languages coalesce the grammar</p>
			<p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-min-ago">3 min ago</span></p>
			</div>
			</div>
			</div>
			</a>

			<a href="javascript: void(0);" class="text-reset notification-item">
			<div class="d-flex">
			<img src="assets/images/users/avatar-4.jpg"
			class="me-3 rounded-circle avatar-xs" alt="user-pic">
			<div class="flex-grow-1">
			<h6 class="mb-1">Salena Layfield</h6>
			<div class="font-size-12 text-muted">
			<p class="mb-1" key="t-occidental">As a skeptical Cambridge friend of mine occidental.</p>
			<p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-hours-ago">1 hours ago</span></p>
			</div>
			</div>
			</div>
			</a>
			</div>
			<div class="p-2 border-top d-grid">
			<a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
			<i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">View More..</span>
			</a>
			</div>
			</div>
			</div>*@

			<div class="dropdown d-inline-block">
				<button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
						data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

					<span class="d-none d-xl-inline-block ms-1" key="t-henry">@selectedRole</span>
					<i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-end">
					<!-- item-->
					@foreach (var role in roles)
					{
						<a class="dropdown-item" @onclick=" (e)=>switchto(role.ObjectId)" href="/orders"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span key="t-profile">@role.Name</span></a>
					}

				</div>
			</div>

			<div class="dropdown d-inline-block">
				<button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
						data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img class="rounded-circle header-profile-user" src="assets/images/users/deadpool.png"
						 alt="Header Avatar">
					<span class="d-none d-xl-inline-block ms-1" key="t-henry">@loginUser.FirstName</span>
					<i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-end">
					<!-- item-->
					<a class="dropdown-item" href="/myprofile"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span key="t-profile">Profile</span></a>
					@*  <a class="dropdown-item" href="#"><i class="bx bx-wallet font-size-16 align-middle me-1"></i> <span key="t-my-wallet">My Wallet</span></a>
					<a class="dropdown-item d-block" href="#"><span class="badge bg-success float-end">11</span><i class="bx bx-wrench font-size-16 align-middle me-1"></i> <span key="t-settings">Settings</span></a>
					<a class="dropdown-item" href="#"><i class="bx bx-lock-open font-size-16 align-middle me-1"></i> <span key="t-lock-screen">Lock screen</span></a>*@
					<div class="dropdown-divider"></div>
					<a class="dropdown-item text-danger" @onclick="logout" href="/authorizelogout"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span key="t-logout">Logout</span></a>
				</div>
			</div>

			@*<div class="dropdown d-inline-block">
			<button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
			<i class="bx bx-cog bx-spin"></i>
			</button>
			</div>*@

		</div>
	</div>
</header>

@code {
	private KowToMateAdmin.Models.Security.LoginUserInfoViewModel loginUser = new KowToMateAdmin.Models.Security.LoginUserInfoViewModel();
	private ContactViewModel contact = new ContactViewModel();
	private List<RoleViewModel> roles = new List<RoleViewModel>();
	string selectedRole = "";
	protected override async Task OnInitializedAsync()
	{
		await Task.Yield();
		loginUser = _workContext.LoginUserInfo;
		var roleModels = await _roleManager.GetAllUserRoleByContactObjectId(loginUser.UserObjectId);
		roles = await _mapperHelperService.MapToListAsync<RoleModel, RoleViewModel>(roleModels);

		if (!string.IsNullOrWhiteSpace(loginUser.RoleObjectId))
		{
			if (roles.Any())
			{
				selectedRole = roles.Where(x => x.ObjectId == loginUser.RoleObjectId).FirstOrDefault().Name;
			}
		}
		else
		{
			selectedRole = "Default";
		}
	}

	//private HubConnection? hubConnection;
	//   private List<string> messages = new List<string>();
	//   private string message = "";


	//protected override async Task OnAfterRenderAsync(bool firstRender)
	//{
	//    if (firstRender)
	//    {
	//        //Hub
	//        hubConnection = new HubConnectionBuilder()
	//            .WithUrl(Navigation.ToAbsoluteUri("/notificationhub"))
	//            .Build();

	//        hubConnection.On<string, string>("ReceiveNotification", (user, message) =>
	//        {
	//            var encodedMsg = $"{user}: {message}";
	//            messages.Add(encodedMsg);
	//            message = encodedMsg;
	//            //ModalNotification.ShowMessage("New Notificaiton", encodedMsg);
	//            //StateHasChanged();
	//            //InvokeAsync(StateHasChanged).;
	//        });

	//        await hubConnection.StartAsync();

	//        // Call the hub method and pass the user ID to the server-side SignalR hub.
	//        await hubConnection.SendAsync("JoinIndivisualGroup", loginUser.UserObjectId);

	//    }
	//}

	async void logout()
	{
		try
		{
			var contactModel = await _contactManager.GetById(loginUser.ContactId);
			contact = await _mapperHelperService.MapToSingleAsync<ContactModel, ContactViewModel>(contactModel);

			if (contact != null)
			{
				var removeContact = new ContactModel
				{
					IsSharedFolderEnable = contact.IsSharedFolderEnable,
					DownloadFolderPath = contact.DownloadFolderPath,
					Id = contact.Id,
					IsUserActive = false
				};

				await _contactManager.UpdateContactDownloadPath(removeContact);

				var user = await _userService.GetById(loginUser.UserId);
				//var context = _httpContextAccessor.HttpContext;
				//string ip = context.Connection?.RemoteIpAddress.ToString();
				// Added Login History
				var loginHistory = new SecurityLoginHistoryModel
				{
					UserId = user.Id,
					Username = user.Username,
					ActionTime = DateTime.Now,
					ActionType = false,
					IPAddress = "",
					DeviceInfo = "",
					Status = true,
				};

				var saveLoginHistory = await _securityLoginHistoryService.Insert(loginHistory);
			}
		}
		catch (Exception ex)
		{

		}
	}
	async Task switchto(string roleObjectId)
	{
		var loginuserinfo = new KowToMateAdmin.Models.Security.LoginUserInfoViewModel
			{
				RoleObjectId = roleObjectId,
				ContactId = loginUser.ContactId,
				CompanyId = loginUser.CompanyId,
				UserObjectId = loginUser.UserObjectId
			};
		Guid key = Guid.NewGuid();
		BlazorCookieLoginMiddleware.Switch[key] = loginuserinfo;
		NavigationManager.NavigateTo($"/orders?key={key}", true);
	}
}